header {
    background-color: #a2df85;
    color: #2b2a2a;
    padding: 20px;
    text-align: center;
}

.navbar-list {
    list-style-type: none;
    display: flex;
    justify-content:space-between;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

