body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    // background-image: url('/src/client/media/annie-spratt-qyAka7W5uMY-unsplash.jpg'); /* Replace 'your-image-url.jpg' with your image URL */
    // background-size: cover;
    // background-position: center;
}

main {
    padding: 20px;
    text-align: center;
}